.cont{
	font-size: 50px;
}
.bin{
	height: 700px;
	width: 300px;
}
body{
	background-image: url('bg.png');
	background-size:cover;
}
.loader{
  width:95px;
  height:95px;
  border-radius:50%;
  border:0px solid;
  margin:40px auto;

  background:#191970;
  color:#191970;
  
  animation: fill linear 3s infinite,
             load linear 3s infinite;

}

@keyframes load{
  0%,27%{  box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
                   0 0 22px -3px; 
  }
  9%,18%{  box-shadow:
            0 0 22px -3px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }

  36%{box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
              /*70px 0 1px -41px,*/0 0 22px -3px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  45%{box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
           /*60px 35px 1px -41px,*/0 0 22px -3px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  55%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
           /*35px 60px 1px -41px,*/0 0 22px -3px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  64%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
              /*0 70px 1px -41px,*/0 0 22px -3px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  
  }
  73%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
          /*-35px 60px 1px -41px,*/0 0 22px -3px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  82%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
          /*-60px 35px 1px -41px,*/0 0 22px -3px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  91%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
             /*-70px 0 1px -41px,*/0 0 22px -3px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  100%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
         /*-60px -35px 1px -41px,*/0 0 22px -3px,
           -35px -60px 1px -41px;
  }
}

@keyframes fill{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(30deg);
}
